<div class="container">
  <div class="header">
    <img src="assets/images/chuck-norris-photo.png" alt="chuck norris">
  </div>
  <div class="joke">
    "{{joke?.value?.joke}}"
  </div>
  <div class="form">
    <form [formGroup]="modelForm">
      <select formControlName="category" label="Categories" class="input">
        <option [value]="category.ANY">Any</option>
        <option [value]="category.EXPLICIT">Explicit</option>
        <option [value]="category.NERDY">Nerdy</option>
      </select>
      <div>
        <input type="text" class="fullName" formControlName="fullName" placeholder="Impersonate Chuck Norris">
      </div>
    </form>
  </div>

  <div class="btn-container">
    <button type="button" class="generate-joke-btn" (click)="drawRandomJoke()">
      Draw a random  {{modelForm.get('fullName')?.value}} Joke
    </button>
  </div>
</div>
